################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NUIX.InvestmentPerformance.API/obj
/NUIX.InvestmentPerformance.API.Test/obj
/NUIX.InvestmentPerformance.API/bin/Debug/net7.0
